<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BrainNotes</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Horneur</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notes">Notes</a>
                </li>
            </ul>

        </div>
    </nav>


<form th:action="@{/notes}" method="post" th:object="${note}">

    <!-- TAG -->
    <div th:if="${#fields.hasErrors('tag')}" class="alert alert-danger"
         th:errors="*{tag}">Tag Error!
    </div>
    <div class="input-group flex-nowrap p-3">
        <span class="input-group-text" id="addon-wrapping">Tag</span>
        <input type="text" class="form-control" name="tag" placeholder="tag" aria-label="tag" aria-describedby="addon-wrapping">
    </div>

    <!-- TEXT -->
    <div th:if="${#fields.hasErrors('text')}" class="alert alert-danger"
         th:errors="*{text}">Tag Error!
    </div>
    <label class="ml-3" for="validationTextarea">Note</label>
    <textarea class="form-control ml-3"
              id="validationTextarea" name="text"
              placeholder="Required example textarea" required></textarea>

    <button class="btn btn-primary m-3" type="submit">To publish</button>

    <!-- OUTPUT ALL NOTES-->
    <table th:if="${notesList != null}" class="table table-sm table-dark ml-3">
        <thead>
            <tr>
                <th scope="col">Author</th>
                <th scope="col">Tag</th>
                <th scope="col">Text</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="noteObj: ${notesList}">
                <tr>
                    <td><a th:href="|/user-notes/${noteObj.author.id}|" th:text="${noteObj.author.username}"></a></td>
                    <td th:text="${noteObj.tag}"></td>
                    <td th:text="${noteObj.text}"></td>
                    <td><a th:if="${noteObj.author.id == user.id}" th:href="|/user-notes/${noteObj.author.id}|">edit</a></td>
                </tr>
            </th:block>
        </tbody>
    </table>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</form>


